@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Doto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
}

html {
    height: 100%;
    background: #c0e99a;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    width: 520px;
    height: 670px;
    padding: 20px 20px 9px;
    align-items: center;
    background: #93e3e5;
    border: 3.5px solid #004c6f;
    border-radius: 50px;
    box-shadow: 0px 10px #006b9c, 0px 10px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.5s, border 0.5s;
}

#calculator:hover {
    box-shadow: 0px 15px #006b9c, 0px 15px 20px rgba(0, 0, 0, 0.6);
}

.buttons {
    width: 500px;
    height: 520px;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 100px;
    height: 90px;
    margin: 5px;
    justify-content: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.673);
    border: 3px solid rgb(94, 94, 94);
    border-radius: 50px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    line-height: 40px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.buttons,
.screen {
    overflow: hidden;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#screen {
    width: 300px;
    height: 95px;
    padding: 20px 10px;
    border-radius: 50px;
    background: #f1efef;
    border: 3px solid #5e5e5e;
    box-shadow: inset 0px 4px #626262;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-align: right;
    color: #373737;
}

div#result {
    width: 270px;
    height: 45px;
    margin-right: 4px;
    line-height: 30px;
    font-size: x-large;
}

div#history {
    width: 260px;
    height: 20px;
    margin-right: 7px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    line-height: 15px;
    color: #534e4e;
}

.buttons button,
.display button {
    user-select: none;
    transition: all 0.5s ease;
}

button#reset {
    width: 150px;
    margin: 0;
    border-radius: 50px;
    background: #db7ab8;
    border: 3px solid #8f2a32;
    box-shadow: 0px 4px #a4303a;
    color: white;
}

button.symb {
    border-radius: 50px;
    background: #b6ffd1;
    color: #355741;
}

button#equal {
    width: 200px;
    height: 90px;
    border-radius: 50px;
    background: #f6f689;
    border: 3px solid #dbd52e;
    box-shadow: 0px 4px #9da853;
    color: #656a46;
}

button:hover {
    background: #9c89f6;
    border: 3px solid #5441a9;
    box-shadow: 0px 4px #6b54d3;
    color: white;
}

button.symb:hover {
    background: #3fa364;
    border: 3px solid #1e4b2f;
    box-shadow: 0px 4px #2f6643;
    color: #ffffff;
}

button#equal:hover {
    background: #abb850;
    border: 3px solid #5e652f;
    box-shadow: 0px 4px #717a33;
    color: #ffffff;
}

button#reset:hover {
    background: #e3626b;
    border: 3px solid #691d24;
    box-shadow: 0px 4px #a4303a;
    color: white;
}

button.symb:active {
    box-shadow: 0px 0px #2f6643;
    top: 4px;
}

button:active {
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
    font-size: x-large;
}

button#equal:active {
    box-shadow: 0px 0px #717a33;
    top: 4px;
}

button#reset:active {
    box-shadow: 0px 0px #d3545d;
    top: 4px;
}

h1, h5 {
    margin: 50px;
    text-align: center; 
    font-weight: 700; 
    font-size: 1.1rem;
    font-family: 'Source Code Pro';
    color: #3f51b5;
}

h2 {
    margin: 30px;
    font-family: 'Doto';
    color: #6d6eb8;
    font-weight: 400; 
    font-size: 45px;
}